# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Logs
*.log

# Virtual environments
venv/
.env/
.venv/

# OS files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/

# Token and secrets
/etc/nodesniff/nsagent.token
*.token

# Local scripts and docs (do not include in repo)
doc/
scripts/
